@import url("https://fonts.googleapis.com/css2?family=Imprima&family=Rancho&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  color: aliceblue;
}

img:hover {
  transition: transform 0.5s ease-in;
  transform: scale(1.1);
  filter: saturate(2);
}

.rancho {
  font-family: "Rancho", cursive;
}

.imprima {
  font-family: "Imprima", sans-serif;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply the animation to elements with the "fade-in" class */
.fade-in {
  opacity: 0; /* Initial state is hidden */
  transform: translateY(20px);
  animation: fadeIn 1s ease-in-out forwards;
}

/* Add individual delays for each element */
.fade-in > * {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 0s; /* Set a base delay for each element */
}

.fade-in > *:nth-child(2) {
  opacity: 0;
  animation-delay: 1s; /* 0.5s (base delay) + 0.5s (additional delay) */
}

.fade-in > *:nth-child(3) {
  opacity: 0;
  animation-delay: 1.3s; /* 0.5s (base delay) + 1s (additional delay) */
}

.aws-btn {
  --button-default-height: 47px;
  --button-default-font-size: 14px;
  --button-default-border-radius: 4px;
  --button-horizontal-padding: 16px;
  --button-raise-level: 4px;
  --button-hover-pressure: 1;
  --transform-speed: 0.15s;
  --button-primary-color: #054f94;
  --button-primary-color-dark: #1360a4;
  --button-primary-color-light: #ffffff;
  --button-primary-color-hover: #187bd1;
  --button-primary-color-active: #166dba;
  --button-primary-border: none;
  --button-secondary-color: #f2f6f9;
  --button-secondary-color-dark: #1360a4;
  --button-secondary-color-light: #1e88e5;
  --button-secondary-color-hover: #e1eaf1;
  --button-secondary-color-active: #cfdee9;
  --button-secondary-border: 2px solid #1e88e5;
  --button-anchor-color: #0e4f88;
  --button-anchor-color-dark: #072743;
  --button-anchor-color-light: #ffffff;
  --button-anchor-color-hover: #0d4a7f;
  --button-anchor-color-active: #0c4271;
  --button-anchor-border: none;
  --button-danger-color: #c42e2e;
  --button-danger-color-dark: #861f1f;
  --button-danger-color-light: #ffffff;
  --button-danger-color-hover: #bc2c2c;
  --button-danger-color-active: #af2929;
  --button-danger-border: none;
}
